{% extends '::base.html.twig' %}

{% set app_mode = 'error' %}
{% block main %}
  <h3>{{ 'errors.not_found'|trans({}, 'VetalSiteBundle') }}</h3>
  <em>{#{ exception.message|e|replace({"\n": '<br />'})| format_file_from_text }#}</em>
{% endblock %}
