{% extends '::base.html.twig' %}

{% block title %} Ошибка {{ status_text }} {% endblock %}

{% block main %} 
<div class="hero-unit">
    <h2>Страница не найдена. Неверный адрес.</h2>
</div>
{% endblock %}
