{% extends '::base.html.twig' %}

{% block title %} Ошибка {{ status_text }} {% endblock %}

{% set locale_switcher_flag = 'Off' %}

{% block main %} 
<div class="well">
    <h2>{{ status_code }} ( {{ status_text }} )</h2>
</div>
{% endblock %}
