<div class="slider_container">
  <div class="flexslider">
    <ul class="slides">

      <li>
        <a href="-p=1.htm"><img src="/img/slider/slide1.jpg" alt="" title=""/></a>
        <div class="flex-caption">
          <div class="caption_title_line"><h2><a href="-p=1.htm" rel="bookmark" title="Permanent Link to Nemo enim ipsam voluptatem">Nemo enim ipsam voluptatem quia</a></h2><p>

              Lorem ipsum dolor sit amet, consectetur adipisicing ...</p></div>
        </div>
      </li>

      <li>
        <a href="-page_id=17.htm" ><img src="/img/slider/slide2.jpg" alt="" title=""/></a>
        <div class="flex-caption">
          <div class="caption_title_line"><h2><a href="-page_id=17.htm" rel="bookmark" title="Permanent Link to Our Wedding">Our Wedding</a></h2><p>Wedding traditions and customs vary greatly


              Lorem ipsum ...</p></div>
        </div>
      </li>

      <li>
        <a href="-p=7.htm" ><img src="/img/slider/slide3.jpg" alt="" title=""/></a>
        <div class="flex-caption">
          <div class="caption_title_line"><h2><a href="-p=7.htm" rel="bookmark" title="Permanent Link to Love is composed of a single soul">Love is composed of a single soul</a></h2><p>

              Lorem ipsum dolor sit amet, consectetur adipisicing ...</p></div>
        </div>
      </li>

      <li>
        <a href="-p=4.htm" ><img src="/img/slider/slide4.jpg" alt="" title=""/></a>
        <div class="flex-caption">
          <div class="caption_title_line"><h2><a href="-p=4.htm" rel="bookmark" title="Permanent Link to Your hands your hearts">Your hands your hearts</a></h2><p>

              Lorem ipsum dolor sit amet, consectetur adipisicing ...</p></div>
        </div>
      </li>

    </ul>
  </div>
</div>
