{% if is_granted('ROLE_ADMIN') %}
  <li><a target="_blank" href="{{ path('sonata_admin_dashboard', {'_locale':default_locale}) }}">{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}</a></li>
{% endif %}
