/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
  font-family:"Azbuka03_D";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Azbuka03_D/Azbuka03_D.eot");
  src: url("/fonts/Azbuka03_D/Azbuka03_D.eot") format("eot"),url("/fonts/Azbuka03_D/Azbuka03_D.woff") format("woff"),url("/fonts/Azbuka03_D/Azbuka03_D.ttf") format("truetype"),url("/fonts/Azbuka03_D/Azbuka03_D.svg#Azbuka03_D") format("svg");
}
